ul{
  list-style-type: none;
}

a{
text-decoration: none;
color: var(--main-color);
}

:focus{
  outline: none;
}
/* hero hover button color   #188CE8  */

:root{
 --main-color: #212121;
 --sub-text-color:#757575;
 --sub-font-size: 16px;
 --main-background-color:#FFFFFF;
 --focus-hover-background-color: #2196F3;
 --focus-hover-color-button:#FFFFFF;
 --focus-hover-color-text:#2196F3;
}

body{
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: var(--main-color);
  font-size: var(--main-font-size);
  background-color: var(--main-background-color);
}

.container{
  display:flex;
  min-width:1200px;
  margin: 0 auto;
}

.section{
  padding-top:94px;
  padding-bottom:94px;
}

.nav-container{
  display: flex;
  height:80px;
  align-items: center;
  justify-content: space-around;

}

.navbar-list{
  display: flex;
  align-items: center;
}

.navbar{
  display:flex;
 

}

.nav-contacts{
  display: flex;
}

.logo{
  font-family: Raleway, sans-serif;
  font-size:  26px;
  font-weight: 700;
  color: #2196F3;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.navbar{
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.current-link{
  color: var(--focus-hover-color-text);
}

.navbar-link:focus, 
.contacts:focus {
  color: var(--focus-hover-color-text);
}

.navbar-link:hover, 
.contacts:hover {
  color: var(--focus-hover-color-text);
}

.hero-button:focus{
  background-color: #188CE8;
}

.hero-button:hover {
  background-color: #188CE8;
}

.filter-button:focus {
  background-color:var(--focus-hover-background-color);
}

.filter-button:hover {
  background-color:var(--focus-hover-background-color);
}

.address:focus,
.filter-button:focus{
  color:var(--focus-hover-color-button);
}

.address:hover,
.filter-button:hover{
  color: var(--focus-hover-color-button);
}

.contacts{
  color: var(--sub-text-color);
  font-weight:500;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.hero-container{
  display: flex;
  flex-direction: column;
  height: 600px;
  width:1600px;
  justify-content: center;
  align-items: center;
}

.hero-button{
  display: flex;
  width: 200px;
  height: 50px;
}

.hero{
  background-color: #2F303A;
}

h1{
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 6%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero-button{
  font-family: Roboto, sans-serif;
  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
}

.group-container{
  display:flex;
  height: 95px;
  width: 1170px;
  margin-right: 215px;
  margin-left: 215px;

}

.group{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:15px;
}

.group-heading{
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.group-detail{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--sub-text-color)
}

.we-do-container{
  display-flex;
  flex-direction: column;
  max-width: 1170px;
  height: 386px;
}

.section-heading-do,
.we-do-list {
  display:flex;
  justify-content: center;
  align-items:center;
}

.we-do-item{
  padding: 15px;
}

.section-heading{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-container{
  display: flex;
  flex-direction: column;
  width: 1600px;
  height: 648px;
  margin-left: auto;
  margin-right: auto;
}

.section-heading-team,
.team-list{
  display:flex;
  justify-content: center;
  align-items: center;
}

.team-item {
  display:flex;
  flex-direction: column;
  margin:15px;
  width: 270px;
  height: 368px;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-footer {
display:flex;
flex-direction: column;
padding: 30px;
}

.section-team{
  background-color: #F5F4FA;
}

.team-name{
  font-weight: 500;
  font-size: var(--sub-font-size);
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-title{
  font-weight: 400;
  font-size: var(--sub-font-size);
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sub-text-color);
}

.container-portfolio{
  display:flex;
  flex-direction:column;
  width: 1170px;
  height: 1360px;
}

.filters{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projects{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  }
  
  .projects-item{
    display:flex;
    flex-basis: calc((100% - 60px) / 3);
    flex-direction: column;
    width: 370px;
    height: 404px;
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
  }

 .footer-projects{
   display: flex;
   flex-direction: column;
 }

.filter-button{
  font-family: Roboto, sans-serif;
  background-color: #F5F4FA;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: var(--sub-font-size);
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-current{
  background-color: var(--focus-hover-background-color);
  color: var(--focus-hover-color-button);
}

.projects-heading{
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.projects-filter{
  font-weight: 400;
  font-size: var(--sub-font-size);
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--sub-text-color);
}

.footer{
  background-color: #2F303A;
}

.footer-container{
  display: flex;
  width: 1600px;
  height: 252px;
}

.address{
  color: var(--sub-text-color);
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
   letter-spacing: 0.03em;
}

/* default styles*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}